
/*
 * Layout.
 */

body {
  background-color: #c0c0c0
}

.centering p {
  text-align: center;
}

/*
 * Header.
 */

.home img {
  width: 25%;
  height: 150%;
}


/*
 * Jumbotron.
 */

.jumbotron {
  background-color: #c0c0c0
}

.jumbotron .container h1 {
  padding-top:       25px;
  font-family:       'Baloo Bhaina', cursive;
  color:             red;
  text-align:        center;
  -ms-transform:     rotate(-7deg);
  -webkit-transform: rotate(-7deg);
  transform:         rotate(-7deg);
}

/*
 * Bar listing.
 */

div.bars {
  background-color: #c0c0c0
}

/*
 * Left.
 */

.container .row .viewed h2 {
  font-family: 'Poppins', sans-serif;
}

/*
 * Center.
 */

#custom-search-input {
  padding:          3px;
  border:           solid 1px #E4E4E4;
  border-radius:    6px;
  background-color: #fff;
}

#custom-search-input input {
  border:     0;
  box-shadow: none;
}

#custom-search-input button {
  margin:      2px 0 0 0;
  background:  none;
  box-shadow:  none;
  border:      0;
  color:       #666666;
  padding:     0 8px 0 10px;
  border-left: solid 1px #ccc;
}

#custom-search-input button:hover {
  border:      0;
  box-shadow:  none;
  border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
  font-size: 23px;
}

.container .row img {
  width: 100%;
}

#glass {
  width: 20px;
  height: 20px;
}

/*
 * Right.
 */

.container .row .added h2 {
  font-family: 'Poppins', sans-serif;
}

/*
 * Sign up.
 */

legend{
	color:red;
	font-size:25px;
	font-weight:bold;
}

