{% extends 'DrinkingBuddy/base.html' %}
{% load staticfiles %}

{% block main_block %}

  <div class="row">

  <!-- Sign up... -->
  <div class="container" id="wrap">
	  <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form action="{% url 'addBar' %}" enctype="multipart/form-data" method="post" accept-charset="utf-8" class="form" role="form">
			{% csrf_token %}
			{{ page_form.as_p }}
            <div class="centering">
            <p><button class="btn btn-lg btn-danger" type="submit">Add</button></p>
            </div>
            </div>
          </div>
        </form>
      </div>
    </div>

{% endblock %}
