{% extends 'DrinkingBuddy/base.html' %}
{% load staticfiles %}

{% block main_block %}
<head>
        <style type="text/css">
        #map
        {
          height:400px;
          width:400px;
          display:block;
        }
      </style>
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIUMEk4lAYgO72FjqCrinbnPIrt-trHAk"></script>
      <script type="text/javascript">
	  
		 function getPosition(callback) {
            var geocoder = new google.maps.Geocoder();
            var postcode = "{{ postcode }}";
			

            geocoder.geocode({'address': postcode}, function(results, status) 
            {   
              if (status == google.maps.GeocoderStatus.OK) 
              {
                callback({
                  latt: results[0].geometry.location.lat(),
                  long: results[0].geometry.location.lng()
                });
              }
            });
          }

          function setup_map(latitude, longitude) { 
            var _position = { lat: latitude, lng: longitude};
            
            var mapOptions = {
              zoom: 16,
              center: _position
            }

            var map = new google.maps.Map(document.getElementById('map'), mapOptions);

            var marker = new google.maps.Marker({
              position: mapOptions.center,
              map: map
            });
          }

         window.onload = function() {
            setup_map(51.5073509, -0.12775829999998223);
			

            document.getElementById("form").onsubmit = function() {
              getPosition(function(position){

                var text = document.getElementById("text")
                text.innerHTML = "Marker position: { Longitude: "+position.long+ ",  Latitude:"+position.latt+" }";

                setup_map(position.latt, position.long);
              });
            }
          }
      </script>  
   </head>

  <!-- Row 1. -->
  <div class="row">

    {% if page %}
    <!-- Left. -->
    <div class="col-md-4">
      <!-- Bar image. -->
	  {% if page.picture %}
      <img class="bar_image" src="{{ page.picture.url }}">
	  {% else %}
	  <img class="bar_image" src="{% static 'images/no-image.png' %}">
	  {% endif %}
    </div>

    <!-- Center. -->
    <div class="col-md-4">
      <h2>{{ page.name }}</h2>
      <h3>Location: {{ page.address }}</h3>
      <h3>Bar owner: {{ page.owner }}</h3>
    </div>

    <!-- Right. -->
    <div class="col-md-4 added">
	    <div id="map"></div>
    </div>

  </div>

  <!-- Row 2. -->
  <div class="row">

    <!-- Left. -->
    <div class="col-md-4 viewed">
      <h2>Price:</h2>
        <img id="glass" src="{% static '/images/glass.jpg' %}">
		{% if page.avgPrice >= 1.5 %}
		<img id="glass" src="{% static '/images/glass.jpg' %}">
		{% endif %}
		{% if page.avgPrice >= 2.5 %}
		<img id="glass" src="{% static '/images/glass.jpg' %}">
		{% endif %}
		{% if page.avgPrice >= 3.5 %}
		<img id="glass" src="{% static '/images/glass.jpg' %}">
		{% endif %}
		{% if page.avgPrice >= 4.5 %}
		<img id="glass" src="{% static '/images/glass.jpg' %}">
		{% endif %}
      <h2>Atmosphere:</h2>
        <img id="glass" src="{% static '/images/glass.jpg' %}">
		{% if page.avgAtmos >= 1.5 %}
		<img id="glass" src="{% static '/images/glass.jpg' %}">
		{% endif %}
		{% if page.avgAtmos >= 2.5 %}
		<img id="glass" src="{% static '/images/glass.jpg' %}">
		{% endif %}
		{% if page.avgAtmos >= 3.5 %}
		<img id="glass" src="{% static '/images/glass.jpg' %}">
		{% endif %}
		{% if page.avgAtmos >= 4.5 %}
		<img id="glass" src="{% static '/images/glass.jpg' %}">
		{% endif %}
      <h2>Quality (food/drink):</h2>
        <img id="glass" src="{% static '/images/glass.jpg' %}">
		{% if page.avgQuality >= 1.5 %}
		<img id="glass" src="{% static '/images/glass.jpg' %}">
		{% endif %}
		{% if page.avgQuality >= 2.5 %}
		<img id="glass" src="{% static '/images/glass.jpg' %}">
		{% endif %}
		{% if page.avgQuality >= 3.5 %}
		<img id="glass" src="{% static '/images/glass.jpg' %}">
		{% endif %}
		{% if page.avgQuality >= 4.5 %}
		<img id="glass" src="{% static '/images/glass.jpg' %}">
		{% endif %}
    </div>

    <!-- Center. -->
    <div class="col-md-8">
      <h2>Comments</h2>
	    {% if comments %}
	      <div class="list-group">
		    {% for comment in comments %}
			  <div class="list-group-item">
			    <div class="media">
				  <div class="media-left media-top">
				    {% if comment.commenter.picture %}
				      <img class="profile_picture" src="{{ comment.commenter.picture.url }}">
					{% else %}
					  <img class="profile_picture" src="{% static 'images/no-user-image.png' %}">
					{% endif %}
				  </div>
				  <div class="media-body">
				    <h3 class="media-heading">{{ comment.commenter }}</h4>
					<dl>{{ comment.comment }}</dl>
					<small>{{ comment.date }}</small>
				  </div>
				</div>
			  </div>
			{% endfor %}
		  </div>
		{% else %}
		<p>There are no comments on this bar yet.</p>
		{% endif %}
    </div>

  </div>
  
  <!-- Row 3 -->
  <div class="row">
    <!-- Left -->
	<div class="col-md-4">
	  {% if user.is_authenticated %}
	  <form action="{% url 'bar' page.slug %}" method="post" accept-charset="utf-8" class="form" role="form">
	    {% csrf_token %}
	    <h2>Rate:</h2>
		{{ rating_form.as_p }}
		<button type="sumbit" class="btn btn-success">Submit Rating</button>
	  </form>
	 {% endif %}
	</div>
	  <!-- Center -->
	  <div class="col-md-8">
	  {% if user.is_authenticated %}
	    <form action="{% url 'bar' page.slug %}" method="post" accept-charset="utf-8" class="form" role="form">
		  {% csrf_token %}
	      {{ comment_form.as_p }}
	      <button type="sumbit" class="btn btn-success">Submit Comment</button>
		</form>
	  {% endif %}
      </div>
	</form>
  </div>	
  {% endif %}
  
{% endblock %}