{% extends 'DrinkingBuddy/base.html' %}
{% load staticfiles %}

{% block main_block %}

        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=API_KEY"></script>
        <script type="text/javascript" src="mapapi.js">
            go();
        </script>

  <!-- Row 1. -->
  <div class="row">

    {% if page %}
    <!-- Left. -->
    <div class="col-md-4">
      <!-- Bar image. -->
	  {% if page.picture %}
      <img class="bar_image" src="{{ page.picture.url }}">
	  {% else %}
	  <img class="bar_image" src="{% static 'images/no-image.PNG' %}">
	  {% endif %}
	  {% if page_editor_form %}
	        <form action="{% url 'bar' page.slug %}" enctype = "multipart/form-data" method="post" accept-charset="utf-8" class="form" role="form">
		    {% csrf_token %}
		    {{ page_editor_form.as_p }}
		    <p><button class="btn btn-lg btn-danger" type="submit">Change Picture</button></p>
        </form>
      {% endif %}
    </div>

    <!-- Center. -->
    <div class="col-md-8">
      <h2>{{ page.name }}</h2>
	  <h3>{{ page.description }}</h3>
      <h3>Location: {{ page.address }}</h3>
      <h3>Bar owner: {{ page.owner }}</h3>
    </div>

    <div class="col-md-4">
        <div id = "map"></div>
    </div>
  </div>

  <!-- Row 2. -->
  <div class="row">

    <!-- Left. -->
    <div class="col-md-4 viewed">
      <h2>Price:</h2>
        <img id="glass" src="{% static '/images/glass.jpg' %}">
		{% if page.avgPrice >= 1.5 %}
		<img id="glass" src="{% static '/images/glass.jpg' %}">
		{% endif %}
		{% if page.avgPrice >= 2.5 %}
		<img id="glass" src="{% static '/images/glass.jpg' %}">
		{% endif %}
		{% if page.avgPrice >= 3.5 %}
		<img id="glass" src="{% static '/images/glass.jpg' %}">
		{% endif %}
		{% if page.avgPrice >= 4.5 %}
		<img id="glass" src="{% static '/images/glass.jpg' %}">
		{% endif %}
      <h2>Atmosphere:</h2>
        <img id="glass" src="{% static '/images/glass.jpg' %}">
		{% if page.avgAtmos >= 1.5 %}
		<img id="glass" src="{% static '/images/glass.jpg' %}">
		{% endif %}
		{% if page.avgAtmos >= 2.5 %}
		<img id="glass" src="{% static '/images/glass.jpg' %}">
		{% endif %}
		{% if page.avgAtmos >= 3.5 %}
		<img id="glass" src="{% static '/images/glass.jpg' %}">
		{% endif %}
		{% if page.avgAtmos >= 4.5 %}
		<img id="glass" src="{% static '/images/glass.jpg' %}">
		{% endif %}
      <h2>Quality (food/drink):</h2>
        <img id="glass" src="{% static '/images/glass.jpg' %}">
		{% if page.avgQuality >= 1.5 %}
		<img id="glass" src="{% static '/images/glass.jpg' %}">
		{% endif %}
		{% if page.avgQuality >= 2.5 %}
		<img id="glass" src="{% static '/images/glass.jpg' %}">
		{% endif %}
		{% if page.avgQuality >= 3.5 %}
		<img id="glass" src="{% static '/images/glass.jpg' %}">
		{% endif %}
		{% if page.avgQuality >= 4.5 %}
		<img id="glass" src="{% static '/images/glass.jpg' %}">
		{% endif %}
    </div>

    <!-- Center. -->
    <div class="col-md-8">
      <h2>Comments</h2>
	    {% if comments %}
	      <div class="list-group">
		    {% for comment in comments %}
			  <div class="list-group-item">
			    <div class="media">
				  <div class="media-left media-top">
				    {% if comment.commenter.picture %}
				      <img class="profile_picture" src="{{ comment.commenter.picture.url }}">
					{% else %}
					  <img class="profile_picture" src="{% static 'images/no-user-image.png' %}">
					{% endif %}
				  </div>
				  <div class="media-body">
				    <h3 class="media-heading">{{ comment.commenter }}</h4>
					<dl>{{ comment.comment }}</dl>
					<small>{{ comment.date }}</small>
				  </div>
				</div>
			  </div>
			{% endfor %}
		  </div>
		{% else %}
		<p>There are no comments on this bar yet.</p>
		{% endif %}
    </div>

  </div>

  <!-- Row 3 -->
  <div class="row">
    <!-- Left -->
	<div class="col-md-4">
	  {% if user.is_authenticated %}
	  <form action="{% url 'bar' page.slug %}" method="post" accept-charset="utf-8" class="form" role="form">
	    {% csrf_token %}
	    <h2>Rate:</h2>
		{{ rating_form.as_p }}
		<button type="sumbit" class="btn btn-success">Submit Rating</button>
	  </form>
	 {% endif %}
	</div>
	  <!-- Center -->
	  <div class="col-md-8">
	  {% if user.is_authenticated %}
	    <form action="{% url 'bar' page.slug %}" method="post" accept-charset="utf-8" class="form" role="form">
		  {% csrf_token %}
	      {{ comment_form.as_p }}
	      <button type="sumbit" class="btn btn-success">Submit Comment</button>
		</form>
	  {% endif %}
      </div>
	</form>
  </div>
  {% endif %}

{% endblock %}